.Container {
    display: flex;
    @media only screen and (max-width: 480px) {
        flex-direction: column;
    }
     @media only screen and (min-width: 481px) and (max-width: 768px) {
        flex-direction: column;
    }
}